# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# Go
bin/
autopost-client/sync_folder/
autopost-client/stresstool
autopost-client/hashgen.go
autopost-client/hash.go

# Docker & Persistence
mft-server/storage/
mft-server/logs/
pgdata/

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
*.log
